<style>img{ margin: 0 auto;width:auto; height:auto; max-width:50%; max-height:50%; margin-bottom:2px; }</style>
<style>body{ background-color: #9e9e9e; }</style>
<style>div{ text-align: center; }</style>
